<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero List</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container mx-auto mt-5">
        <h1 class="text-3xl font-bold mb-4"><%= datas.title %></h1>
        <!-- add hero -->
        <div class="collapse bg-base-200">
            <input type="checkbox" /> 
            <div class="collapse-title text-xl font-medium text-center" >
              Tambah Hero Baru
            </div>
            <div class="collapse-content"> 
                <form action="/user/add" method="post" class="flex flex-col items-center gap-4" >
                    <input type="text" name="name" placeholder="Tulis nama" class="input input-bordered w-2/4" />
                    <input type="text" name="role" placeholder="Tulis role" class="input input-bordered w-2/4" />
                    <button type="submit" value="add" class="btn btn-primary">Tambah</button>
                </form>
            </div>
          </div>
        <div class="overflow-x-auto mx-5 p-4 bg-gray-500 mt-4 rounded-md">

            <table class="table w-full">
                <!-- Table Head -->
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                    <% datas.data.forEach((item, index) => { %>
                        <tr class="hover">
                                <td><%= index + 1 %></td>
                                <td><%= item.name %></td>
                                <td><%= item.role %></td>
                                <td class="flex gap-4">
                                    <a class="btn btn-outline btn-info" href="/user/<%= item.id %>">Edit</a>

                                    <form action="/user/delete" method="post" class="btn btn-outline btn-error">
                                        <input type="text" hidden name="id" value="<%= item.id %>"/>
                                        <input type="submit" value="Delete" />
                                    </form>
                                </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
